{% extends "base_vue.html" %}
{% block content %}
    {% if request.user.is_authenticated %}
        <h1> {{ user.username }}</h1>
        <h2>Change password</h2>
        <form method="post" action=".">
            <table>
                {% csrf_token %}
                {{ form.as_p }}
            </table>>
            {% block change %}
                <input type="submit" value="Change">
            {% endblock %}
        </form>
    {% else %}
        <h1>You do not have a permision.</h1>
    {% endif %}
{% endblock %}